@keyframes loaderAnimation {
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
}

.item {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 20px;
  border: 6px solid rgba(0, 0, 0, 0.6);
  border-right-color: black;
  border-radius: 50%;
  animation: loaderAnimation 1.5s infinite linear;
  box-sizing: border-box;
}
