.container {
  position: relative;
}

.row {
  margin: 6px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.key {
  width: 35%;
  display: inline-block;
  font-weight: bold;
}

.value {
  width: 65%;
  margin-left: 4px;
  display: inline-block;
  text-transform: capitalize;
}
