.field {
  position: relative;
  width: 100%;
}

.input {
  padding: 0 14px;
  height: 34px;
  width: 100%;
  line-height: 50px;
  border-radius: 0;
  border: 2px solid transparent;
  font-size: 14px;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 8px black;
  border-color: black;
}
