.main {
  min-height: 100%;
}

.loader {
  margin-bottom: 20px;
  text-align: center;
  line-height: 0;
}

.end {
  padding: 20px 0 40px;
  text-align: center;
  font-weight: bold;
}

.buttonTop {
  display: inline-block;
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  opacity: 0.3;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.buttonTop::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
}

.buttonTop:hover {
  opacity: 1;
}
