.navigation {
  display: inline-flex;
  flex-direction: row;
}

.el {
  position: relative;
  margin-left: 20px;
}

.el:first-child {
  margin-left: 0;
}

.link {
  display: inline-block;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 4px;
  background-color: #9b59b6;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  color: #9b59b6;
}

.link.active {
  color: #9b59b6;
}

.link.active::after {
  width: 100%;
}
