.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 19.5%;
  margin-bottom: 0.5%;
  background-color: white;
  border: 1px solid black;
  border-radius: 0;
  box-sizing: border-box;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.data {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.generalName {
  line-height: 1;
  margin: 4px 0;
  text-transform: capitalize;
}

.text {
  display: inline-block;
  max-width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 16px;
}

.text:nth-child(2) {
  margin-left: 4px;
}

.email {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  opacity: 0.9;
}

.userName {
  margin-bottom: 4px;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  opacity: 0.7;
}
